extends layout

block content
  div(class="jumbotron")
    div(class="container")
      h1 Chi Phi Market
      p. A place to buy and sell. Keep the listserv clean.
      form#formPostItem(name='postitem', method='get', action='/newitem')
        button#buttonPostItem(type='submit', class='btn btn-primary btn-lg') Post Item
  div(class="container")
    div(class="row")
      each item, index in itemlist
        div(class="col-md-4")
          h2 #{item.title} 
          p
            b Price:
            | &nbsp#{item.price} </br>
            b Negotiable: 
            | &nbsp#{item.negotiable} </br>
            b Wants:
            | &nbsp#{item.num_wants} </br>
            b Description: 
            | &nbsp#{item.description}
          form#formWantItem(name='wantitem', method='post', action='/wantitem')
            input#inputId(type='hidden', name='id', value=item._id)
            input#inputTitle(type='hidden', name='title', value=item.title)
            button#Want(type='submit', class='btn btn-primary') Want